<!-- <div id="wrapper">
  <div id="shopping-list">
    <div id="list">
      <h2>Shopping List</h2>

      <ul>
        <li *ngFor="let shopping of shoppingItems | async" (click)="deleteItem(shopping.id)">
          {{ shopping.name }}
        </li>
      </ul>
    </div>

    <form (ngSubmit)="addItem()">
      <input type="text" [(ngModel)]="newShoppingItem.name" placeholder="Item" name="itemName"/>
      <button type="submit" >+</button>
    </form>
  </div>
  <app-my-counter></app-my-counter>
</div> -->
<h1><a routerLink="" routerLinkActive="active">Angular Reactive Examples</a></h1>
<p>
  Angular sandbox for RxJs and NgRx
</p>



<div class="content">
  <router-outlet></router-outlet>
</div>